{{ $version := (gitHubLatestTag "tmux-plugins/tpm").Name -}}

[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/refs/tags/{{ $version }}.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
