{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $vagrant:= env "USER" | eq "vagrant" -}}
{{- $interactive := stdinIsATTY -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  codespaces = {{ $codespaces }}
  vagrant = {{ $vagrant }}
{{- if stdinIsATTY -}}
{{-   $accessToken := promptStringOnce . "accessToken" "Bitwarden Secrets access token" }}
  accessToken = {{ $accessToken | quote }}
{{- end }}

[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/.install-password-manager.sh"

[scriptEnv]
  VAGRANT = {{ $vagrant | quote }}
